=simple_form_for @client do |f|
  = f.input :first_name, label: "Enter the client's first name"
  = f.input :last_name, label: "Enter the client's last name"
  = f.button :submit, "Save client", :class => "button"
  =link_to "Cancel", clients_path, class: "button"