%h1 Current client list:

%table
  %thead
    %th First name
    %th Last name
    %th
  %tbody
    -@clients.each do |client|
      %tr
        %td #{client.first_name}
        %td #{client.last_name}
        %td
          =link_to "Update", edit_client_path(client)


=link_to "Add a client", new_client_path, class: "button"
