%h1 Welcome to Time Logger!

%h3 The world's newest time-loggin application.

-if current_user
  =link_to "Log Time", new_user_time_entry_path(current_user.id)
  =link_to "Show Logged Time", user_time_entries_path(current_user)