%div.row
  %div.page-title.small-12.columns
    %h1 Welcome to Time Logger!
    %h2.subheader Track your hours & mileage on-the-go
    %p
%div
  -if !current_user
    %div.row
      %div.small-12.columns.user-sign-in
        =link_to "Sign In", new_user_session_path, class: "button"
  -if current_user
    =render partial: 'home/report', locals: { user: current_user }