%h1 Welcome to Time Logger!

%h3 The world's newest time-logging application.

%div
  -if current_user
    %h2 Hours worked by category
    = pie_chart @time_entries.group(:name).sum(:category_id)
    %h2 Hours worked by client
    = pie_chart @time_entries.group(:last_name).sum(:client_id)
    %h2 Hours worked by day
    = column_chart @time_entries.group_by_day(:date, format: '%A, %B %d, %Y').sum(:hours_worked)