%div.row
  %div.page-title.small-12.columns
    %h1 Welcome to Time Logger!
    %h2.subheader Track your hours & mileage on-the-go
    %p
%div
  -if !current_user
    %div.row
      %div.small-12.columns.user-sign-in
        %button
          =link_to "Sign Up", new_user_path
        %button
          =link_to "Sign In", new_user_session_path
  -if current_user
    %div.row
      %div.small-12.columns
        %ul.report-navigation
          %li.small-4.columns
            %button#week-button.btn-active
              =link_to "Filtered by Week", root_path(duration: :week)
          %li.small-4.columns
            %button.report-button#month-button
              =link_to "Filtered by Month", root_path(duration: :month)
          %li.small-4.columns
            %button.report-button#year-button
              =link_to "Filtered by Year", root_path(duration: :year)
    %div.row
      %div.small-6.columns
        %div.report-card
          %div.report-title
            %h2 Hours worked by category
          %div.report-content
            = pie_chart @time_entries.group('categories.name').sum(:category_id), :library => {:colors => [ "#6969b3", "plum", "#98c1d9", "#643378", "#faf8d4"]}
      %div.small-6.columns
        %div.report-card
          %div.report-title
            %h2 Hours worked by client
          %div.report-content
            = pie_chart @time_entries.group(:last_name).sum(:client_id), :library => {:colors => ["#6969b3", "plum", "#98c1d9", "#643378", "#faf8d4"]}
    %div.row
      %div.small-6.columns
        %div.report-card
          %div.report-title
            %h2 Hours worked by day
          %div.report-content
            = column_chart @time_entries.group_by_day(:date, format: '%A, %B %d, %Y').sum(:hours_worked), :library => {:colors => ["#98c1d9", "#6969b3", "#faf8d4", "plum", "#643378"]}
      %div.small-6.columns
        %div.report-card
          %div.report-title
            %h2 Business mileage by day
          %div.report-content
            = column_chart @time_entries.group_by_day(:date, format: '%A, %B %d, %Y').sum(:business_mileage), :library => {:colors => ["#98c1d9", "#6969b3", "#faf8d4", "plum", "#643378"]}