%h1 Create a project
%p A project's name should be a unique identifier( something like "Winter 2015"). Having a unique identifier will differentiate it from other projects with the same category and client. For example:
%p "Harris, Francis - Timber Sale - Winter 2015" <b>vs.</b>"Harris, Francis - Timber Sale - Spring 2014"

= render partial: 'form'
