%h1 Time Entries for #{current_user.name}

%ul
  -@time_entries.each do |entry|
    %li= link_to "#{entry.date.strftime("%A, %B %d, %Y")} - #{entry.hours_worked} hours", user_time_entry_path(current_user.id, entry.id)

