@import 'colors';

.button, button {
  background-color: $dark-purple;
  a {
    color: white;
    decoration: none;
  }
}

.button:hover, button:hover {
  background-color: $light-purple;
  a {
    color: white;
  }
}

.btn-active {
  background-color: $light-purple
}