@import 'colors';

.report-card {
  background-color: $dark-purple;
  border: 4px solid $dark-purple;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  padding: 0;
  margin: 25px 0;
  .report-title {
    text-align: center;
    h2 {
      color: white;
      margin: 0;
    }
  }
}

.report-navigation {
  text-align: center;
  list-style-type: none;
  ul {
    display: inline-block;
  }
}
