$dark-purple: #643378;
$light-purple: #a054b7;

body, html {
  background-color: plum;
}

.container {
  background-color: $dark-purple;
  width: 100%;
  min-height: 100%;
}

.ui-datepicker {
  margin-top: 100px;
  border: 1px solid $dark-purple;
  .ui-datepicker-header {
    border-bottom: 1px solid $dark-purple;
    background-color: white;
    text-align: center;
  }
  .ui-datepicker-title {
    font-weight: bold;
  }
  .ui-datepicker-next:before {
    content: " | ";
  }
  .ui-datepicker-today {
    font-weight: bold;
    background-color: $dark-purple;
    a {
      color: white;
    }
  }
}

.main-section {
  background-color: white;
  box-shadow: 0 0 3px $dark-purple;
  padding-top: 10px;
  margin-top: 40px;
}

.page-title {
  text-align: center;
}

.report-card {
  background-color: $dark-purple;
  border: 1px solid black;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  padding: 0;
  margin: 25px 0;
  .report-title {
    text-align: center;
    h2 {
      color: white;
      margin: 0;
    }
  }
}

.report-navigation {
  text-align: center;
  list-style-type: none;
  ul {
    display: inline-block;
  }
}

.user-sign-in {
  text-align: center;
}

.time-entry-list {
  text-align: center;
  a {
    color: $dark-purple;
  }
}

.button, button {
  background-color: $dark-purple;
  a {
    color: white;
    decoration: none;
  }
}

.button:hover, button:hover {
  background-color: $light-purple;
}

// ****Alert/Notice formatting*****

$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  font-weight: 600;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  a {
    color: darken($color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}
