// Place all the styles related to the time_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ui-datepicker-div {
  display: none;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  border: 1px lightslategrey solid;

  .ui-datepicker-today {
    background-color: tomato;
    border-radius: 5px;
  }

  .ui-datepicker-header {
    text-align: center;
    .ui-datepicker-title {
      font-weight: bold;
    }
    .ui-datepicker-next::before {
      content: " | "
    }
  }

}