%h1 Current categories:

%table
  %thead
    %th Category name
    %th
    %th
  %tbody
  -@categories.each do |category|
    %tr
      %td #{category.name}
      %td
        =link_to "Delete", category_path(category.id), method: :delete
      %td
        =link_to "Update", edit_category_path(category.id)

=link_to "Create new category", new_category_path
