%h1.page-title Current categories:
%hr
.row
  .small-6.columns
    %table.clients-table
      %thead
        %th Category name
        %th
      %tbody
        -@categories.each do |category|
          %tr
            %td #{category.name}
            %td
              =link_to "Update", edit_category_path(category)
    .small-10.columns.small-offset-2
      =link_to "Create category", new_category_path, class: "button"
      =link_to "Cancel", root_path, class: "button"
  %div.small-6.columns
    %div.panel.panel-default
      %div.panel-heading
        %h3.panel-title Categories explained
      %div.panel-body
        %p Categories are used to help build projects. When you create a project, it'll be comprised of a client, a category, and a name. Categories consist of things like Burning, Cruising, or Office.
