%h1 Create a new category

= simple_form_for @category do |f|
  = f.input :name, label: "Enter a category name"
  = f.button :submit, "Save category", class: "button"

%button
  =link_to "Cancel", categories_path